# 版本控制
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
venv/
ENV/

# 开发工具
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore
docker-compose.yml
dokcer-compose.build.yml

# 系统
.DS_Store

# Node.js
node_modules/
package*.json
main.js
non-critical.css

# 数据库
mysql/
performance_schema/
*.0121
*.1319
.my-healthcheck.cnf
aria*
ib*
mysql*
multi-master.info
movies/

# 设计文件
*.ai
*.psd
favicon.*
icon.*

# 日志和临时文件
*.log
memo.txt

# 未合并图标文件
static/*.svg
!static/sprite.svg