WEB_PORT=5000

DB_USER=username
DB_PASSWORD=change-me
DB_DATABASE=movies
MYSQL_ROOT_PASSWORD=change-me-root

EMBY_SERVER_URL=http://your-emby-server-address
EMBY_USERNAME=your-emby-username
EMBY_PASSWORD=your-emby-password
JACKETT_URL=http://your-jackett-server-address
THUNDER_URL=http://your-thunder-server-address

APP_ACCESS_TOKEN=
APP_DEBUG=0
MAX_IMAGE_UPLOAD_MB=10
